[2016-12-11 21:02] pyro2927 opened #1 "Handle being run early"
It's possible this script will get run before the 24-hour allowed checkin window.  If that is the case, calculate when the correct checkin time is, and `sleep` until then

[2016-12-11 21:04] pyro2927 opened #2 "Send notifications"
Southwest has an (undocumented) API for [sending boarding passes to mobile/email](https://github.com/byalextran/luvwrapper/blob/master/lib/luvwrapper.rb#L107).  Either utilize that, or tie in to Twilio in order to notify people when they've checked in (would require API key from Twilio).

[2017-01-06 17:23] pyro2927 commented on #1
Resolved as of 71e63f9bf813f61bf7d3c903c497543c87c71975

[2017-01-06 17:23] #1 closed

[2017-04-21 22:56] pyro2927 opened #4 "Doesn't work on international flights"
International flights appear to require passport information to be entered before they are booked.  No known API endpoints to submit this information at this time (mobile devices force you to go to web for checkin)

[2017-09-06 01:02] pyro2927 opened #7 "Lint"
Per the recommendation of @tpcstld, we should lint this repo w/ pep8 or pylint (hooked in via Travis CI).

[2017-09-06 01:17] ratabora commented on #7
+1

[2017-09-28 23:23] rtmill22 opened #9 ""Couldn't Check in : Boarding Pass can be obtained...""
Has there been a fix for this issue? This code worked great prior to their reservation system change in May and ever since it spits out a different number of these errors each time. I wonder if there is an API for the desktop version of the site that can be used?

[2017-11-11 03:33] ersan opened #10 "Return flights?"
When I run this script on a round-trip reservation it only seems to be able to check in to the first outgoing flight, is there something I'm missing?

[2017-12-12 21:57] rtmill22 opened #11 "Not Working Anymore"
It seems as though the script is broken, it errors now when trying to pull in reservation info.

[2017-12-24 19:20] pyro2927 commented on #11
Hey @rtmill22! I noticed this myself when traveling for the holidays this year.  It looks like SW changed a few API calls recently.  I'm working on a branch to fix this: <https://github.com/pyro2927/SouthwestCheckin/tree/thanks_southwest>

[2017-12-24 19:22] pyro2927 commented on #10
Hey @ersan! It should work on return flights, however it doesn't do return flights automatically (though that seems like a good enhancement).  Right now you'd just need to run the script _again_ after your initial flight takes off.  This isn't always easy though, especially if you're traveling to a place with no internet.

As of this exact moment the script isn't working per #11.  I'm working on a

[2017-12-24 20:07] pyro2927 opened #12 "No Tests :("
This project has almost zero tests 😢.  I would love it if it had some, but I'm still relatively new to python testing and have no idea the best way to do it.

I can happily supply Southwest API end-point data (grabbed using [Charles](https://www.charlesproxy.com/)) if needed.

[2017-12-24 20:12] justinmayer commented on #12
I'm totally swamped at the moment, but I highly recommend [PyTest](https://docs.pytest.org/).

@nicoddemus, et al, have done a great job with the project and its documentation.

[2017-12-27 19:05] pyro2927 commented on #9
Closing as a duplicate of #11, working on a fix now, 90% there, just need to test with new API endpoints for a checkin I'll be making tomorrow.

[2017-12-27 19:05] #9 closed

[2017-12-27 19:06] #4 closed

[2017-12-29 03:35] pyro2927 commented on #11
@rtmill22, this should be fully resolved in #13.  Any chance you have a flight coming up to try it with? I have a flight tomorrow and it worked for me 😄

[2017-12-29 03:36] pyro2927 commented on #10
@ersan this should be fully working in #13.  Any chance you have a round-trip flight to test with in the coming months?

[2017-12-29 03:57] rtmill22 commented on #11
I have two coming up next week, I will try it and get back to you!

[2017-12-29 04:34] ersan commented on #10
@pyro2927 oh nice, yeah I'll give it a shot I have one coming up in 3 weeks

[2018-01-01 02:01] msimon3 commented on #11
It worked for me!

[2018-01-02 00:28] rtmill22 commented on #11
Worked great! Thanks!!

[2018-01-02 02:47] #10 closed

[2018-01-02 02:47] #11 closed

[2018-01-27 19:10] devksingh4 opened #14 "waiting too long"
Hello,
My trip has 2 legs, and it looks like it is checking in for the first leg and not the second leg.

[2018-01-28 17:55] pyro2927 commented on #14
@andromedastudios1, has the time for the first leg passed already?  It's meant to check you in for both, but only within 24 hours of each departure.

[2018-01-28 20:18] andromedastudios1 commented on #14
No the time for the first leg had not already passed. I checked in
yesterday by just changing the sleep time to 10 and starting it 12 before.
May this be an issue where southwest changed the way they handle api
requests?

--
Best,
Dev Singh

On Sun, Jan 28, 2018 at 11:55 AM, Joseph Pintozzi <notifications@github.com>
wrote:

[2018-03-08 22:58] zxlin opened #15 "Should we supply our own API keys?"
I see there are hard coded `API_KEY` and `USER_EXPERIENCE_KEY` in the checkin script.

Should we be using these hard coded keys or should individuals obtain their own keys to avoid SWA rejecting these hardcoded API keys? If the latter is true, can we provide a brief description on how to obtain these keys from SWA?

Thanks for the work on this repo!

[2018-03-09 04:16] pyro2927 commented on #15
@zxlin, nah, no need to supply your own keys.  These were pulled from the [Southwest iOS app](https://itunes.apple.com/us/app/southwest-airlines/id344542975?mt=8) by sniffing app traffic with [Charles](https://www.charlesproxy.com/).

[2018-03-09 04:16] #15 closed

[2018-03-23 17:49] zxlin opened #16 "Error: geopy.exc.GeocoderQuotaExceeded"
I got this error with the `geopy` lib, it seems like Google is unhappy? I'm not particularly familiar with this lib, but maybe we need to get a Google API key.

[code]

[2018-03-25 01:56] pyro2927 commented on #16
@zxlin do you get that consistently?  Google limits by IP a limit of [2500 requests per day](https://developers.google.com/maps/documentation/geocoding/usage-limits), so unless you're making an unreasonable number of flights that shouldn't be a problem.

[2018-03-25 19:14] zxlin commented on #16
Yes, I am still getting it right now. This is a residential IP address, no one else using it but me and I'm not making any requests to Google APIs from this IP.  I've tried it on a VPS on Digital Ocean as well and I'm getting the same result.

[2018-04-06 03:31] pyro2927 commented on #16
@zxlin you can add one yourself to line [97](https://github.com/pyro2927/SouthwestCheckin/blob/master/checkin.py#L97), by changing it to:

[code]

I won't be baking one into the code.

[2018-04-06 03:31] #16 closed

[2018-04-23 22:04] gettinghub opened #17 "first name has two character"
Hi pyro2927,

My first name has two words in it. Should I put a space in it like the usage below?

python ./checkin.py CONFIRMATION_NUMBER FIRST_NAME_1 FIRST_NAME_2 LAST_NAME

Thanks!

[2018-04-24 01:59] pyro2927 commented on #17
Hey @gettinghub!  I think you can do it like this:

[code]

The quotes allow them to be recognized as a single argument.

[2018-04-24 15:45] gettinghub commented on #17
Thank you I will give that a try.

[2018-04-24 15:45] #17 closed

[2018-05-30 20:09] h4xdaplanet opened #18 "Companion Reservations are not able to be pulled"
Getting the following error with a companion reservation:

[code]
The parent reservation is working

[2018-06-06 18:05] pyro2927 commented on #18
I need a better way to track down issues with errors...  Asking people for reservation numbers and full names feels weird.

Did your Companion have the same Reservation Number?  I'm actually a Companion on my wife's account, but I always get a different reservation number so they check-in separately.

[2018-06-06 18:18] h4xdaplanet commented on #18
The companion reservation was a separate reservation number, yeah. So was trying to check in separately. I was running this for a friend who had a companion reservation as well in the same timeframe and the same error occurred.

I'm happy to provide names/reservations or provide some debug output - we could do a screenshare or something if that helps? I have companion reservations coming up in the

[2018-09-13 14:19] Raikia opened #19 "GeocoderQuotaExceeded: The given key has gone over the requests limit in the 24 hour period or has submitted too many requests in too short a period of time."
Google's geocode api policy has changed now where they severely throttle non-api requests and all APIs now require billing 👎

Constantly get "GeocoderQuotaExceeded: The given key has gone over the requests limit in the 24 hour period or has submitted too many requests in too short a period of time." now

[2018-09-17 04:41] pyro2927 commented on #19
@Raikia know of any other geo-coding services?

[2018-09-18 16:38] zxlin commented on #19
## Option 1

There's a project that has data about airports' metadata https://github.com/ryanburnette/airports-api

He's hosted a S3 bucket, example https://airports-api.s3-us-west-2.amazonaws.com/iata/sfo.json or the raw data is available here: https://github.com/ryanburnette/airports-api/blob/master/airport-data/airports.csv (large file)

Example response:
[code]

The author says the data is sou

[2018-09-19 00:45] java007md commented on #19
Using the Google API key is probably the easiest approach.

Another alternative geocoder to consider is GeoNames.org: http://www.geonames.org/export/web-services.html#timezone

[2018-09-20 20:13] Raikia commented on #19
I created a pull request #20 which uses the "Option 2".  Tested in both Python 2 and Python 3 so it is still compatible between the two.

[2018-09-29 00:00] Raikia commented on #19
Resolved

[2018-09-29 00:00] #19 closed

[2018-12-13 13:45] jaredhughes2 opened #21 "Doesn't work for return flights within 24 hours of outbound flight"
When it attempts to check in for a return flight that is less than 24 hours after the outbound flight, it just checks in to the outbound flight again and not the return flight.

[2018-12-14 08:34] janina213 commented on #2
Hi, I've sent over a pull request (#22) that adds this functionality.  Was able to do some basic testing on my end and it seems to work fine. Let me know if you see any issues that I can fix up.

[2018-12-21 18:01] bradzab0623 commented on #2
It doesn't work when there is more than 1 person on the reservation. So the script still checks you in, but exits and doesn't check you in for the return flight
[error.txt](https://github.com/pyro2927/SouthwestCheckin/files/2703720/error.txt)

[2018-12-21 18:02] bradzab0623 opened #23 "Mobile/email notifications don't work when there is more than 1 person on the reservation. It then exits after the inital checkin and doesn't check in for the return flight"
It doesn't work when there is more than 1 person on the reservation. So the script still checks you in, but exits and doesn't check you in for the return flight
[error.txt](https://github.com/pyro2927/SouthwestCheckin/files/2703720/error.txt)

_Originally posted by @bradzab0623 in https://github.com/pyro2927/SouthwestCheckin/issues/2#issuecomment-449457143_

[2019-01-05 01:32] pyro2927 commented on #21
Hey @jaredhughes2, any chance you'd be able to test this branch?

https://github.com/pyro2927/SouthwestCheckin/tree/threading

[2019-01-05 21:59] shiyuechengineer commented on #21
Hi @pyro2927, getting an error `AttributeError: 'list' object has no attribute 'push'` for the line `threads.push(threading.Thread(target...`. Am I doing something wrong? Thanks for this awesome tool!

[2019-01-06 02:31] pyro2927 commented on #21
@shiyuechengineer I messed up and didn't properly test the code.  Just pushed up some changes now that work (and have been tested!)

[2019-01-09 00:46] justinmayer commented on #23
I can confirm this problem (cc: @janina213). Invocation and error traceback follow:
[code]

[2019-01-25 23:09] jpetermans opened #25 "Multiple attempts with safe_requests not always necessary"
Great script! Love the use of the iOS app to simplify the interactions.

Currently safe_request() makes multiple attempts up to MAX_ATTEMPTS any time it is called. This is only needed when checking in with checkin(). Currently, if a user supplies a bad record or name, the script makes multiple requests even with bad inputs.

In the interest of keeping requests low impact, you could have something

[2019-02-03 03:09] pyro2927 commented on #21
Closing issue as this has been resolved with #26.

[2019-02-03 03:09] #21 closed

[2019-02-03 04:03] pyro2927 commented on #23
@justinmayer been refactoring a good percentage of the script.  Any way if you can check if the latest version is having these issues for you?  Otherwise I have a flight over Valentine's day weekend I can test with.

[2019-02-03 04:04] pyro2927 commented on #14
Closing as this issue has been resolved with the latest updates.

[2019-02-03 04:04] #14 closed

[2019-02-03 04:05] pyro2927 commented on #12
Basic tests have been added, can easily extend for more.

[2019-02-03 04:05] #12 closed

[2019-02-03 04:05] pyro2927 commented on #2
Closed thanks to #22!

[2019-02-03 04:05] #2 closed

[2019-02-03 10:14] justinmayer commented on #23
@pyro2927: I would love to but don't have any SW flights planned and probably won't book any for several months. 😥

[2019-02-03 23:45] h4xdaplanet commented on #23
I can check on my flight coming up this Fri

[2019-02-04 21:02] janina213 commented on #23
Hm, I think there may be some more work needed on the send notification side of things.  From @bradzab0623's error info when checking in multiple passengers,
{'_links': None,
 '_v1_infoNeededToViewBoardingPasses': None,
 'flights': [{'boundIndex': 0,
              'departureTime': 'XX:XX',
              'flightNumber': 'XXXX',
              'gate': None,
              'hasWifi': False,

[2019-02-05 20:33] jpetermans commented on #25
I agree their servers can handle it. I was coming at this more from a desire to draw less attention and lose a great tool.  I'll play with this a little and see about submitting a PR.

[2019-02-09 17:58] pkarnia commented on #23
Tested today with commit https://github.com/pyro2927/SouthwestCheckin/commit/27122855ee32d6e7043b16851311486cf2b88a39 (traceback below). I have our return flight check-in in ~30 hours so let me know if you want me to gather more verbose prints from this check-in or my return.

[code]

[2019-02-15 18:56] zxlin opened #28 "Script throws an error in the checkin request"
[code]

[2019-02-16 06:06] pyro2927 commented on #7
Closing for cleanliness of open issues, will try to incorporate in the future.

[2019-02-16 06:06] #7 closed

[2019-02-16 20:30] brettphillips05 commented on #4
I recently used this on an international flight and it was successful for me but not for my wife and father in law. Turns out, they did not have their "emergency contact" information filled out. I discovered this all can filled out before the flight checkin by entering in the information on the `Manage Flight` section of the reservation. This is found by navigating to the URL with the same informa

[2019-02-16 23:50] pyro2927 commented on #23
It looks like this is an issue we won't be able to code around, as [Southwest doesn't give out mobile boarding passes for reservations with multiple passengers](https://www.southwestaircommunity.com/t5/Check-In/Mobile-Boarding-Pass-not-always-available/m-p/47597/highlight/true#M82).  That said, I'd like to add in a check for `mobileBoardingPassEligible`, and if `False`, presenting the user with a

[2019-02-16 23:56] pyro2927 commented on #28
@zxlin that is a new issue I've not yet seen before.  This will require some digging in.  Can you provide me with any information, as anonymous as you feel comfortable with?

* How many passengers were on the reservation?
* International or domestic flight?
* Multi-stop, or direct?

[2019-02-18 08:18] zxlin commented on #28
@pyro2927

Yup, to answer your questions in order:
- single passenger
- domestic flight
- direct flight

I think this might be a problem with my `requests` package being out of date, my `requests` package version is `2.2.1` which is like 5 years old at this point. Does the checkin script require a certain minimum version of `requests`?

[2019-02-18 19:13] msimon3 commented on #23
I thought SW updated that issue last year, at least for most types of itineraries.
https://www.southwestaircommunity.com/t5/Southwest-Stories/Travel-Enhancements-amp-International-Booking-Capabilities-Now/ba-p/76709

[2019-02-18 23:46] earlmedina opened #30 "name 'time' is not defined"
Downloaded this yesterday and encountered this error today when checking in:
`southwest.py", line 39, in safe_request
    time.sleep(CHECKIN_INTERVAL_SECONDS)
NameError: name 'time' is not defined
`
Seems like when the moment came for 'safe_request' to run it couldn't find the time module - looks like the import statement for that is missing?

[2019-02-19 04:03] pyro2927 commented on #30
Hey @earlmedina, can you update with the latest from today?  This was fixed in https://github.com/pyro2927/SouthwestCheckin/commit/842099332df3cf99f8b20f2135bc208c4d7f848d.

[2019-02-19 04:05] pyro2927 commented on #28
Ah yea, that would most likely be it.  I'm running the latest versions of the available libraries.  I'll work on defining versions in `requirements.txt`.  For the time being, could you try with the Docker image?  I have an automated build available on the [Docker Hub](https://hub.docker.com/r/pyro2927/southwestcheckin).

[2019-02-19 04:13] zxlin commented on #28
I just upgraded my `requests` lib to latest, I will try next time I fly SWA again.

If I encounter this error again the next time, I'll reopen this issue.

Thanks for entertaining this with me & thanks for this amazing (and moneysaving) script!

[2019-02-19 04:13] #28 closed

[2019-02-22 18:31] futa opened #31 "No module named 'openflights'"
Thank you so much for this tool! However, for some reason I am receiving this error:
[code]
Any help would be greatly appreciated!

[2019-02-23 20:05] gregrahn commented on #31
Looks like changing
[code]
to
[code]
solves it.

[2019-02-23 21:19] #30 closed

[2019-02-23 21:20] #31 closed

[2019-02-23 21:24] pyro2927 commented on #31
@futa and @gregrahn, thank you for reporting! Turns out my test coverage wasn't as good as before, but I fixed the issue and wrote new tests to ensure we don't have a regression!

[2019-02-23 22:22] pyro2927 commented on #23
@msimon3, it looks like even with the update, you can't get boarding passes for other passengers:

[2019-02-26 21:30] msimon3 commented on #23
Can it be updated to bypass the notification part? Seems like the checkin aspect still works.

[2019-03-03 17:36] pyro2927 commented on #23
@msimon3, something like this should work for that:
https://github.com/pyro2927/SouthwestCheckin/tree/no-boarding-passes

Seeing if anyone else has thoughts before merging.

[2019-03-04 03:01] janina213 commented on #23
Like you mentioned above, may also be worth adding the check for mobileBoardingPassEligible in that same conditional statement.  Adds a little more clarity, and might guard in a weird scenario where links are somehow included but the reservation is ineligible.  Though this is not a blocker.

Overall, I thinke the proposed change set should do the trick.

[2019-03-16 18:42] kjanoudi opened #34 "Can't use the docker image with spaces in name"
When trying to use the docker image, it will not accept spaces in the name as arguments. Quotes or no quotes, it doesn't work. It works fine when running directly using python.

Works:
[code]

Doesn't work:

[code]

[2019-03-16 18:43] kjanoudi commented on #18
My companion reservations work fine, i do believe this can be closed.

[2019-03-26 18:19] ShoGinn opened #35 "Docker logs"
Because you are using print as the method to show output, in docker you will not get an appropriate log response.

I recommend
https://github.com/pyro2927/SouthwestCheckin/blob/d7cebbf56f7eefb375ed23c4077c0cf75329c18a/entrypoint.sh#L5

Changing that to

[code]

[2019-04-01 19:22] RayBB opened #36 "Can not find any timezone configuration"
I cloned the repo than run the `sudo docker run -it pyro2927/southwestcheckin:latest CONFIRMATION_NUMBER FIRST_NAME LAST_NAME` command but I'm getting the following error.

[code]

[2019-04-05 14:56] marshall007 commented on #36
This solution worked for me: https://unix.stackexchange.com/a/110529

[code]

[2019-04-05 20:34] MikeFielden commented on #36
@marshall007 this corrects the issue for me thank you

[2019-04-08 17:30] bllfr0g opened #37 "Doesn't seem to work any more?"
Script worked fine for me on Sunday April 7.  Today, April 8, I just get a bunch of blank lines and then an error message.  Tried on multiple machines.

Anyone else getting the same thing?  Did SouthWest change the API?

[2019-04-09 01:44] kaseymccurdy commented on #37
It looks like the API_KEY and USER_EXPERIENCE_KEY have changed on southwest's side. I went to the mobile site (https://mobile.southwest.com/) and inspected the traffic, looking at the headers and saw the new values are:

[code]

Im not sure how often they change these keys, or what determines them, but when i changed these values in `southwest.py` and re-ran the script, all was happy.

[2019-04-24 23:22] pctechjon commented on #18
Same. My companion always has a separate confirmation number. I just run two concurrent scripts, one for each confirmation number. Only failed me once when my router went down.

[2019-04-25 04:11] pyro2927 commented on #37
Closing since #39 has resolved this :)

[2019-04-25 04:11] #37 closed

[2019-04-28 19:52] Drewster727 commented on #36
Also, you could pass in the TZ environment variable:
`sudo docker run -it -e TZ=America/Chicago pyro2927/southwestcheckin:latest CONFIRMATION_NUMBER FIRST_NAME LAST_NAME`

[2019-04-30 04:34] pyro2927 commented on #36
Closing for now, as the code has been refactored to not need local timezones.

[2019-04-30 04:34] #36 closed

[2019-04-30 04:36] pyro2927 commented on #35
Change made, closing issue.

[2019-04-30 04:36] #35 closed

[2019-05-16 14:35] #18 closed

[2019-06-19 04:11] pyro2927 opened #42 "Reverse Engineer Mobile API"
@hoopsbwc34 and I have been digging into other API requests the mobile app has been making, and it appears that you can get to a lot more functionality when you're authenticated.  There is this really weird `init` type stuff happening though, and it processes a ton of Javasctipt to build out headers for all future API requests to use.

The general flow seems to be:

#### Call Init Script

There ar

[2019-06-19 04:23] pyro2927 commented on #42
### Next Steps

#### Understand the JS?

I've tried de-obfuscating the Javascript, but most libraries to automatically do so don't really provide any clarity.  If you're a Southwest app engineer, nice work.  I think you won this round.

#### Just run it?

Pulling out the Javascript and executing it in a browser results in an error: "Native host not available".  [A quick Googling](https://developer

[2019-06-30 19:39] rylwin commented on #34
I haven't tried this myself to confirm, but I think the issue might be in the entrypoint.sh line: `python -u ./checkin.py $@`. I think the `$@` needs to be surrounded in quotes to fix this issue: `python -u ./checkin.py "$@"`

[2019-07-08 04:02] pyro2927 commented on #34
@rylwin thanks, you are correct!  [Quotes added to the entrypoint.sh](73b77d07249008b1a92fd8dfa24505078bc9fd63).

[2019-07-08 04:02] #34 closed

[2019-07-14 22:39] sephamorr commented on #42
I'm not very good at JS, but didn't get any further than you. The easiest path forward that I see (short of someone successfully reverse engineering this JS) is to spawn an android emulator and sniff the headers once they're set though a MITM proxy. The Southwest app doesn't pin a tls certificate, so it's relatively easy to do. Super inelegant though.

[2019-07-15 21:11] hakmo opened #43 "It appears the mobile API has changed once more"
Running with a valid confirmation/first/lastname the view-reservation query is returning:

{"code":400120102,"message":"","httpStatusCode":"BAD_REQUEST","requestId":"","infoList":[""]}

[2019-07-15 22:01] hakmo commented on #43
Threw in some debug prints for more info, here's the output with unique data redacted:

generate_headers requests.get ok
API_KEY = <REDACTED_API_KEY>
safe_request url=https://mobile.southwest.com/api/mobile-misc/v1/mobile-misc/page/view-reservation/<REDACTED_CFM_NUMER>?first-name=<REDACTED_FIRSTNAME>&last-name=<REDACTED_LASTNAME>
safe_request headers = {'X-API-Key': u'<REDACTED_API_KEY>', 'Host':

[2019-07-15 22:05] razierklinge commented on #43
I used the script to check-in to a flight this morning by changing line 71 in southwest.py to:
`return self.load_json_page(self.with_suffix("mobile-air-booking/v1/mobile-air-booking/page/view-reservation/"))`

[2019-07-15 22:23] hakmo commented on #43
That's worked for me, thanks!

[2019-07-15 22:42] bllfr0g commented on #43
I've submitted a PR to apply this fix

[2019-07-16 04:27] pyro2927 commented on #43
Closing since #44 has been merged

[2019-07-16 04:27] #43 closed

[2019-07-17 23:26] hoopsbwc34 commented on #42
Looks like another alerts package on github paid someone to solve this problem.  Can probably reverse engineer from some of their code once it gets merged:

https://github.com/xur17/southwest-alerts/issues/16

[2019-07-19 20:28] hoopsbwc34 opened #45 "404 Response up until 24 hours"
So the script now crashes when you try to run it more than 24 hours in advance of your checkin.  This is because southwest is returning a "<Response [404 ]>" prior to 24 hours in advance.  This means the script can't get the take off time and sleep right up to check in time.

The crash happens in auto_checkin and is tied to "for leg in body['bounds']" but the real issue is in southwest/southwest.p

[2019-07-19 21:43] bllfr0g commented on #45
I just tested it and it's working fine for me.

There was a new update to the script a few days ago, due to a SWA API
change.  Are you running the latest version?

On 7/19/19 1:28 PM, hoopsbwc34 wrote:

[2019-07-19 21:46] hoopsbwc34 commented on #45
Ah..that's probably the problem then.  I didn't check for updates

[2019-07-19 22:24] hoopsbwc34 commented on #45
Yep rookie mistake. Updating fixed the 404 issue.

[2019-07-19 22:24] #45 closed

[2019-07-28 18:07] justinrhodes opened #47 "TypeError: 'NoneType' object is not subscriptable -- for leg in body['bounds']:"
Hitting the following error while trying to set up a checkin

Traceback (most recent call last):
  File "./checkin.py", line 103, in <module>
    auto_checkin(reservation_number, first_name, last_name, notifications)
  File "./checkin.py", line 60, in auto_checkin
    for leg in body['bounds']:
TypeError: 'NoneType' object is not subscriptable

[2019-07-28 18:28] bllfr0g commented on #47
You have an old version of the tool. There have been API changes at
Southwest; download the latest version and try again.

On 7/28/19 11:07 AM, justinrhodes wrote:

[2019-07-29 18:05] justinrhodes commented on #47
Yep, that was it. Sorry for the noise.

[2019-07-29 18:05] #47 closed

[2019-08-07 14:31] markmghali opened #49 "sleep length is too large"
Too early to check in.  Waiting 1485 hours, 16 minutes, 20.724372999742627 seconds
Exception in thread Thread-1:
Traceback (most recent call last):
  File "H:\Users\Mark\AppData\Local\Programs\Python\Python36\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "H:\Users\Mark\AppData\Local\Programs\Python\Python36\lib\threading.py", line 864, in run
    self._target(*self._args,

[2019-08-07 14:37] bllfr0g commented on #49
Maybe 2 months out is a little early to be running the script?

[2019-08-07 14:42] markmghali commented on #49
is that not the point of the script? I want to be able to be able to set it and forget it? I am running it on a server, so I can just leave it running. What is the maximum sleep time? That would be helpful to know so I can know when to start running it.

Thank you

[2019-08-07 15:06] bllfr0g commented on #49
I think the max can vary from machine to machine. On my Mac it’s 99999999 seconds, which actually would have worked for you.

What kind of machine and python implementation are you using?

[2019-08-07 15:48] markmghali commented on #49
running it on Windows 10, with python 3.6.

[2019-08-18 03:08] pyro2927 commented on #49
Would probably need to leverage something like [at](https://en.wikipedia.org/wiki/At_(command)#Microsoft_Windows_2) to schedule it out further.

[2019-08-18 03:08] #23 closed

[2019-08-19 00:34] tjs198 commented on #47
I'm a dummy to coding, but getting the same error message when running through docker.  how do I update it through docker?  thanks in advance

[2019-08-19 13:59] markmghali commented on #49
I am sorry, I am new to this. What do you mean by "at"

On Sat, Aug 17, 2019 at 10:08 PM Joseph Pintozzi <notifications@github.com>
wrote:

--
Mark Ghali

[2019-08-31 02:41] stgreenb opened #50 "Docker Run errors"
Running
`$sudo docker run -it pyro2927/southwestcheckin:latest MyRes First Last --email=my@email.com`

Provides the following error
[code]

But takes the commands if I instead run
`$ python ./checkin.py MyRes First Last --email=my@email.com`

[2019-08-31 02:47] stgreenb opened #51 "TypeError: request() got an unexpected keyword argument 'json'"
Run from python 2.7 (not docker, which failed see other ticket) on amazon ec2 errors on recent trip.

[code]

[2019-09-02 05:18] shenfen commented on #42
i can do this swa-common.js

[2019-09-16 22:40] RayBB commented on #50
@stgreenb I was having the same issue. Try running `docker pull pyro2927/southwestcheckin:latest` to pull the latest version of the docker image.

[2019-09-27 16:48] pandabear41 commented on #51
Did you set a notification? I had the same problem when I added a SMS notification.

[2019-10-18 05:01] treedoan opened #53 "KeyError: 'boardingPasses' when trying to send notifications for companion ticket."
[code]
Not sure if this is related to #23
Attempted to check in for two tickets. One for the original ticket holder and one for the companion. They had different confirmation numbers. The check-in worked just not the notification.

[2019-10-18 06:20] janina213 commented on #53
May actually be a change in the southwest API, probably worth investigating further.  Unfortunately I don't have a flight soon to test with.  I'll submit a PR that removes the notification options for now

[2019-10-18 07:14] treedoan commented on #53
I have a flight coming up on Monday for just me. I'll see if there's the same error and report back.

[2019-10-21 06:16] treedoan commented on #53
Same error came up when notifications were enabled.

[2019-10-21 08:39] mxxk commented on #53
The error also happened for me, but this conversation got me thinking... @treedoan had a flight to test against, but the only information he could glean is that the error happened again.

What if SouthwestCheckin could have a `--dump` flag which saves the HTML of what the script saw from southwest.com? That way, collaborators don't have to wait for a flight of their own to diagnose issues with API

[2019-10-21 14:37] bllfr0g commented on #53
It's a great idea!

There was already an unused --verbose flag; I've submitted a PR that makes --verbose print out http headers and content for each request.

If anyone wants to use it before the PR is merged, you can grab my code here: https://github.com/bllfr0g/SouthwestCheckin

I do *not* do anything to sanitize the output of --verbose, so please make sure to do so yourself before posting outpu

[2019-10-22 15:15] justinrhodes opened #56 "Docker image creates other docker containers"
I have this docker image running on my unraid NAS system.

One thing I have noticed that is weird while running this script through the docker image I see other docker containers spawn from this using the standard docker random naming convention (i.e. adoring_wright, compassionate_poitras, etc.)

Is this something that can be explained by how this docker file is set up or something else?

[2019-10-28 02:07] pyro2927 commented on #56
Hey @justinrhodes, that's probably due to something else.  The Docker container generated by this repo just runs a python script and then exits, nothing more

[2019-10-28 02:07] #56 closed

[2019-10-28 02:34] pyro2927 commented on #53
@bllfr0g added you as a collaborator on the repo so you can just merge stuff in the future :)

[2019-10-28 02:35] bllfr0g commented on #53
aw crap now I have actual responsibilities :)

On 10/27/19 7:34 PM, Joseph Pintozzi wrote:

[2019-10-28 02:38] bllfr0g commented on #53
BTW I did a checkin today with the new --verbose option.  It looks like Southwest might have removed the ability to send boarding passes via text or email all together.  Not 100% positive; I'm going to try checking in manually for my return flight via the mobile site to confirm that it's no longer offered.

[2019-10-29 02:34] bllfr0g commented on #53
I was able to confirm it today; Southwest has removed the ability to send boarding passes via text or email from the mobile API.

[2019-10-29 03:31] #53 closed

[2019-11-21 23:20] ba221400 opened #60 "Script doesn't wake up to check in"
On my last two attempts to use the script, it did not wake up to check in. I'm running with Docker, both in Linux and Win10.

Each time I get:

[code]
And then nothing. It doesn't attempt the check in at all. I do not see anything in the logs, other than the message above.

Any ideas why it's not waking up and running again?

[2019-11-21 23:54] Raikia commented on #60
Are the # of hours, minutes, and seconds accurate?  The timestamp accurate?

[2020-01-02 13:31] pyro2927 commented on #60
When you say "waking up", is the machine it is running on going to sleep?

[2020-01-02 13:31] pyro2927 commented on #50
Resolved with newer containers

[2020-01-02 13:31] #50 closed

[2020-02-05 17:49] stiggy87 commented on #60
I had this happen to me. Machine was running, no sleep state. I also saw it print out a lot of the JSON response, so my guess something wasn't right with my clone.

[2020-02-05 17:58] ba221400 commented on #60
The # of hours, minutes, and seconds accurate; as-is the timestamp. The date on the host machine is accurate. I didn't check the date/time inside the container; I'll take a look at that tonight.

I've run it in the foreground, as well as backgrounding (`-d`) the container. When I said wake up, I was just thinking of the script sleeping, not the machine having to wake up.

[2020-02-12 17:38] frankhsu opened #62 "Issues building docker image"
Running into package installation issues during docker build
```unable to execute 'gcc': No such file or directory```

Had to switch base image python version to non-alpine to get it to build successfully.

[2020-02-12 20:15] scho7623 commented on #51
I'm still seeing this error message. Was this resolved? Any workarounds? cc: @stgreenb @pandabear41

[2020-02-12 20:33] pandabear41 commented on #51
@scho7623
The error with notification fixed a while ago then shortly after that feature was removed.
Otherwise you are running a super old version of requests. Can you find what version of requests you are running?
python -c "import requests; print(requests.__version__)"

You can try upgrading requests.

[2020-02-12 20:56] scho7623 commented on #51
Thanks @pandabear41 , it was indeed super old `2.2.1`. I upgraded to `2.22.0` and it works fine now. Thanks.

[2020-02-17 05:45] #62 closed

[2020-02-19 20:16] mkitchingh commented on #42
Want to understand the mobile API? Look at this version.
https://github.com/davidkassa/southwest-checkin-3
I have been using it for years and participated in keeping it alive. It is all of the sudden failing again though.

[2020-02-20 01:30] mkitchingh commented on #42
In addition to above comment, look at:
https://github.com/byalextran/luvwrapper

[2020-02-28 21:11] ShoGinn opened #63 "python3 + pypi update"
Not really an issue, just wanted to say with the obsoleteness of Python2, I have updated the code and made it a legit package that can be uploaded to pypi.

Looking for some feedback and maybe a future merger!

[https://github.com/ShoGinn/SouthwestCheckin](https://github.com/ShoGinn/SouthwestCheckin)

[2020-02-29 22:16] ShoGinn commented on #63
also if you are interested.. for other than amd64 docker image...

https://github.com/ShoGinn/swcheckin-docker/

There are:

amd64
arm/v6
arm/v7
arm64

automated builds ;)

[2020-06-17 13:30] maximedevalland commented on #42
@Fffrank : out of curiosity, how did you solve bypassing the "X-Xkdw8" headers? I'm actually trying to do the same with British Airways. they have exactly the same protection as you decribed but I couldn't find a way to sign my own request.
It appears to be split in 5 headers, 4 remaining the same but 1 being computed, probably based on the "initialize" phase when the app is launched.

[2020-06-18 19:15] Fffrank commented on #42
@maximedevalland You can see what works here: https://github.com/Fffrank/southwest-alerts/tree/test

I use pyppeteer to launch a  headless browser and capture the headers that are being returned once logged in.  It's not an elegant solution but it worked.  I still don't know if southwest was actively following my progress in order to break the script but it felt like a cat and mouse game.  At some

[2020-06-19 14:58] maximedevalland commented on #42
@Fffrank : ok. If you are interested in solving this problem later on, we can join efforts as we're trying to do the same thing.

[2020-08-09 15:22] gnahum12345 commented on #60
Had same problem but with a Mac and locally.

[2020-08-11 16:53] urllib commented on #51
Is there a change in the anti-climbing strategy？Can you explain that?

[2021-05-15 18:46] jkim- opened #67 "Too many redirects for openflights.org"
I'm getting "too many redirects" error from the call to openflights.org to get the timezone for the airport.

The workaround I'm using for now is hardcoding the timezone for the airports. Seems like the openflights site is down: any alternatives?

[2021-05-16 14:50] adelyser commented on #67
Looks like openflights.org is back online.

[2021-05-17 01:23] #67 closed, assigned to nobody

[2021-05-20 04:15] justinrobinson1020 commented on #60
Tried using this today and had the same problem. Running in docker and it never attempted to check in. I restarted the container after checking in manually and it recognized that I had done so and had the correct boarding info.

[2021-05-26 04:53] cycomachead commented on #60
I kept a standard Python3 tab open, and this didn't work either...When I reran the command just to see it does correctly grab the current checkin.

[2021-06-14 14:24] chuxuanhy commented on #42
Hello, @maximedevalland Did you generate the header successfully? I am also interested in how to generate the headers to make the requests. Hope for your reply. Regards.

[2021-06-14 14:28] maximedevalland commented on #42
I haven't solved the issue and archived the project :-)

[2021-06-15 08:23] chuxuanhy commented on #42
Thank you @maximedevalland. Anyone else knows how to generate the headers, please tell me. I am very appreciated.

[2021-06-17 20:55] Fffrank commented on #42
Now that I have travel back on my schedule I've been trying to make this work again.  I can capture the headers but all of the apis have changed or broken over the last year.  Unfortunately southwest is incredible aggressive in how often you can poll their servers with bad data before they give you a time-out.  As such it will take me some time to fully fix this script but I am working on it.

[2021-06-18 02:14] mkitchingh commented on #42
FYI, I have been using this solution for a while, and it has been working perfectly. Not sure if it will help you solve what you are looking for. https://github.com/byalextran/southwest-checkin

[2021-06-18 05:03] chuxuanhy commented on #42
@Fffrank @mkitchingh thank you!

[2021-06-18 16:09] Fffrank commented on #42
Awww I realize now that I'm commenting in the checkin thread.  I've been working to revive my project above that searches for lower fares.  Good to know that there is an actively maintained checkin script, though!!

[2021-07-30 08:01] akshaygpt opened #68 "docopt import error"
The script hasn't been working on my system. It throws an error:
[code]
I tried installing docopt multiple times using pip/pip3 commands. None work.

[2021-07-30 19:00] nathang21 commented on #63
I'm interested in arm builds so I can run this on my intel NUC / RBP but I see both the above repos as archived. @ShoGinn

[2021-07-30 19:03] ShoGinn commented on #63
@nathang21 I archived them, because it was more of a liability to keep them in the repo without updates. Because of COVID etc I didn't have many test situations.

[2021-07-30 19:03] #63 closed

[2021-07-30 19:15] nathang21 opened #69 "Add ARM images to docker builds"
Right now only x86 images are build, making the tool unusable on ARM devices. It should be fairly easy to add multi-architecture support to the docker builds.

#63 has additional context.

[2021-08-07 18:39] jasonwbarnett opened #70 "Not handling 429's gracefully"
This may not be directly applicable since I only ran into the error condition __after__ I changed the code in a fork (lowered retry sleep), but it still may make sense to add exception handling for the situation where Southwest rate limits requests and returns a 429. Thinking that adding an additional sleep (i.e. 5 seconds) may make sense.

#### Response

[code]

#### Body

[code]

For reference:

[2021-08-08 06:25] zxlin commented on #70
Can confirm this exact behavior as well - happening from both AWS and residential IP addresses. (Thought it might've been blocking AWS IP, tried residential). This was not happening earlier in the week. Looks like something just changed very recently.

On latest master commit (6738effcc56aa70f008b25af645327431d808079)

[2021-08-08 15:27] jasonwbarnett commented on #70
Yeah I used the bot successfully on Tuesday (August 3rd, 2021). It failed to work yesterday (August 7th, 2021).

[2021-08-10 04:09] byalextran commented on #70
hmm. i wrote a ruby gem that's similar to this. also ran into a 429 error today when things were working a couple months ago. i tried sleeping 30 seconds between calls but still get the error. i think there's something more going on than just rate limiting.

unfortunately, i'm traveling this week and don't have much time to troubleshoot. but hopefully the hive mind will uncover something so we can

[2021-08-11 18:45] mmoore99 commented on #70
I have a .Net checkin program that has stopped working as well that is getting the same 429 error described above. I think it may be related to the issue discussed [here](https://github.com/pyro2927/SouthwestCheckin/issues/42)

[2021-08-17 01:52] QuiGonLeong commented on #70
Same problem here

[2021-08-18 11:22] rbrotz69 commented on #70
I had the same issue where it just showed about 20 'errors' in a row.  I manually checked in and noticed a Covid 19 health acknowledgement screen you need to accept first. I wonder if that is what is screwing up the script?

[2021-08-19 03:44] dwightmulcahy commented on #70
Yeah, noticed it isn't working now... :(
[code]

[2021-08-19 04:07] zxlin commented on #70
it was definitely working this past year when there was a COVID acknowledgement already, I'm inclined to think that is irrelevant.

[2021-08-23 15:03] alxjsn opened #72 "Check-in has failed a lot recently"
I have been getting error messages like this and not getting checked in.

[code]

I will run in verbose mode on upcoming check ins to get more useful output.

[2021-08-23 15:06] #72 closed, assigned to nobody

[2021-08-25 15:57] jaredhughes2 commented on #70
I was able to track down the problem, but haven't found a good solution.  I'm hoping that others can look at it also and try to find a permanent fix.

The problem is that some headers are missing that weren't previously required.  One of them is the `user-agent` header, which can be hard-coded so it's not a huge deal.  But there are several others that are required, and I can't figure out where th

[2021-08-25 18:57] zxlin commented on #70
This also might be useful reference: https://github.com/Fffrank/southwest-alerts, they're just capturing the headers and using it again. It might be a valid strategy here too.

[2021-08-26 19:35] schmeed commented on #70
Hello, do you have your .Net code on GH?  Willing to share?

[2021-08-26 19:49] jaredhughes2 commented on #70
I hate the idea of relying on "browser" clicks to get the header values.  Ideally somebody will be able to reverse engineer the API and be able to generate the necessary headers each time, but until somebody has time to try to figure that out then this can be used in the mean time.  I don't know when I'll have time to do that (might be a couple weeks), but I'll look into it when I can.

[2021-08-26 20:27] jasonwbarnett commented on #70
@jaredhughes2 I've been thinking about this and I was wondering what if we used the [Selenium WebDriver][1] to do the browser part automatically with a headless browser? It could be cool, but the additional dependency is annoying.

[1]: https://selenium-python.readthedocs.io/api.html

[2021-09-03 17:08] mkitchingh commented on #70
I just had a failed checkin too, but something odd happened, I think. I didn't note for about 15 minutes, and I went to do a manual checkin for my son and I. We got A16 and a17. It made me wonder if the checkin was actually successful, but it the program was unable to detect that. I can't really believe we got 16 and 17 15 minutes after checkin opened.

[2021-09-03 17:17] rbrotz69 commented on #70
In the past when the script worked you didn’t have to ‘check in’ but the
option to retrieve your boarding pass was there. If you had to ‘check in’ I
suspect the script didn’t work.

Southwest has a very interesting way of doing boarding positions.  Many
times I have gotten low A’s even ahead of people that paid for early bird.
SW has an antiquated system and based on cancellations and other factor

[2021-09-11 20:57] rschoen commented on #70
I made a temporary workaround, until we figure out something better: https://github.com/rschoen/SouthwestCheckin

Grab the headers from the browser / burp proxy / whatever, and paste them into headers.txt. Then you can run the script as normal. No promises on how often you have to refresh the headers.txt file though. Other sources indicate it's valid for some number of days.

[2021-09-13 00:57] Jeremy-Harper commented on #70
@rschoen
I only get a response of access denied. Can you provide more instructions in your fork?

[2021-09-13 01:05] Jeremy-Harper commented on #70
figured out how to get it done, go to southwest website, click the checkin button, fill in your information. Right click in the web browser and say inspect, go to the network tab. Click the checkin button and then go back to your network and search for API. Select southwest which is the correct request and it gets you what you need to paste in @rschoen's workaround.

[2021-09-13 11:53] Jeremy-Harper commented on #70
Can confirm @rschoen script worked this morning

[2021-09-16 17:58] QuiGonLeong commented on #70
@rschoen updates worked correctly. The next step is have it automatically get and update the response headers.

[2021-09-16 18:06] jasonwbarnett commented on #70
I think this could easily be done using a selenium web driver, i.e. https://stackoverflow.com/questions/62262261/how-to-get-request-headers-in-selenium

[2021-09-16 19:05] jasonwbarnett commented on #70
This is some untested code I whipped up that shows the concept.

[code]

[2021-10-09 19:41] CoderFromCali opened #73 "Return flight not properly checked in."
The return flight for my last trip was not properly checked in. The script tried to check in at the proper time, but somehow didn't actually check in the return flight. Instead, it captured the boarding information from the outbound flight. This return flight was on the same day as the outbound flight. There were also two people traveling on the same reservation. I'm not sure if these are factors

[2021-10-13 01:42] jdholtz commented on #70
I've done some testing with a very similar script to this. From my testing, it appears that only the `X-Dublriiu-E` header needs to be passed (along with the `X-Api-Key` and `X-Channel-Id`) to POST the data. The header resets every 5-6 successful tries, but it doesn't seem like it resets after a certain amount of time (although more testing is definitely needed). If we can somehow figure out how t

[2021-10-15 20:44] djre4orm commented on #70
Thanks to this branch it works as long as you manually pull the headers. I tried letting them rerun for my return flight (3 days later) and the headers were no longer valid, so the time window must be a day or two. I wrote something leveraging what Jason posted above & using browsermob proxy to copy header data. SWA site would not respond well to any selenium driven browser. I had zero luck with f

[2021-10-18 15:44] jasonwbarnett commented on #70
@djre4orm nice find on the hex replacement to prevent sites from detecting the use of selenium web driver. I'm going to test this with vim on Linux and see if I can get positive results.

[2021-10-28 16:56] rjberm commented on #73
Sorry not answer to your question but when you run the code did it say too early to checkin and you just left it running until the day of?

[2021-10-28 16:59] rjberm commented on #60
Any updates on here? I get the same. Mine says that the flight information is found, but too early to check in. What is it supposed to say if its working properly?

[2021-10-28 17:59] CoderFromCali commented on #73
Yes, you can see in the log where it initially waited here:

On line 1 (timestamp 2021-05-27 19:55:22) it attempted to check in but was too early.
Then on line 237 (timestamp 2021-05-27 19:55:36) it found flights to check in:

Then on line 387 (timestamp 2021-05-28 13:30:05)  it attempted to the first check in.
Then on line  512 (timestamp 2021-05-28 13:30:08) it got both boarding positions.
Then

[2021-10-28 18:11] rjberm commented on #73
I'm running the code in a raspberry so all I see is the following

`Flight information found, departing "airport" at Dec 20 6:00AM`
`Too early to check in. Waiting 1243 hours, 52 minutes, 40.87 seconds`
`Flight information found, departing "airport" at Jan 03 06:30PM`
`Too early to check in. Waiting 1592, 22 minutes, 50.52 seconds`

I don't see anything beyond that... If I close the command line,

[2021-10-28 18:12] rjberm commented on #73
There's also 4 people in the reservation, would it check in for all 4?

[2021-10-28 18:33] CoderFromCali commented on #73
There were only two people in the reservation. The expectation is that it would check in both for the outbound flight and then both again for the return flight. The logs and timestamps bare this out.

[2021-10-28 18:37] CoderFromCali commented on #73
The UI I'm using is from the Docker app on a Synology. I kick off the container with my confirmation number as soon as I make the reservation. The container runs until the return flight is checked in, it just runs in the background on the Synology.

[2021-10-28 20:51] rjberm commented on #73
got it, thankyou for the update!

[2021-10-29 18:25] thegunz opened #74 "fails to checkin"
Hi - tried to use this today but seemed to fail on checkin with

Attempting check-in...
{'Content-Type': 'text/plain; charset=UTF-8', 'Content-Length': '163', 'X-Ion-Hop': '1', 'Expires': 'Fri, 29 Oct 2021 18:10:07 GMT', 'Cache-Control': 'max-age=0, no-cache, no-store', 'Pragma': 'no-cache', 'Date': 'Fri, 29 Oct 2021 18:10:07 GMT', 'Connection': 'close', 'Set-Cookie': 'sRpK8nqm_sc=A0ykPs18AQAASUkt

[2021-10-29 19:21] h4xdaplanet commented on #74
This is the same as issue #70

[2021-11-05 15:43] ninjarobots commented on #74
I tried to debug this for a while. I think there has been an update to the API.

[2021-11-24 12:19] altodd commented on #70
I will look into this soon, but if the headers can't be easily reversed I could see the possibility of just making this a multi-docker app and using a dockerized Android Emulator (https://android-developers.googleblog.com/2019/10/continuous-testing-with-new-android.html) to open the app, then steal the headers from that. Or I guess at that point it could just become some automation around all the

[2021-12-02 21:17] Jeremy-Harper commented on #70
Failed to work today, I had updated the file from the network around noon and checkin was at 4pm. It had worked previously.

[2021-12-03 13:43] djre4orm commented on #70
Might want to double check your headers, I just had it work this morning with an 11hr setup gap. If you have done anything funny with selenium or browser automation pulling headers can get messed up. My recommendation is use incognito window in that case.

Here are my headers from a working run
:authority:
:method:
:path:
:scheme:
accept:
accept-encoding:
accept-language:
authorization:
content-le

[2021-12-07 03:19] byalextran commented on #70
i appreciate all the eyes on this.

if i understand the problem, southwest added some new request headers that need to be used when checking in. since we don't know how those headers are created, they have to be scraped. but they seem to change regularly (under four hours?) so that new request headers are needed after a certain period.

if all of that is true, i think we can take @jasonwbarnett's

[2021-12-07 13:17] flyize commented on #70
You can always book a flight, try to check in, and then cancel for a refund. They are required by law to give you a full refund within 24 hours of buying the ticket.

[2021-12-07 20:17] MyCodeIsSchmidt commented on #70
This does not apply to flights booked less than a week before the flight date.

[2021-12-07 21:26] flyize commented on #70
I've never had a problem doing it with Southwest in the past. If you think it might be a problem, you can always book the more expensive, fully refundable fare. Not like price matters when you know you're going to cancel anyway.

[2021-12-08 04:56] byalextran commented on #70
got a confirmation number to play around with this evening. unfortunately, something's still not working.

i can dump the headers programmatically but can't check in with them (429 error). however, if i manually save the headers from chrome, i can check in.

based on my testing, it seems like these are the minimum required headers (on the POST call):

[code]

i've tried checking in with those exac

[2021-12-09 06:56] byalextran commented on #70
making some progress. i created a new repo for code that will output the proper headers needed for any check-in scripts.

https://github.com/byalextran/southwest-headers

will try to update my project later this weekend to support it and get a fully automated solution working again.

kinda what i'm thinking is have that script run in a cronjob every day (doesn't appear to need a valid confirmation

[2021-12-12 19:39] byalextran commented on #70
Happy to report my auto check-in script is working again!

https://github.com/byalextran/southwest-checkin

Thanks to everyone in this thread for contributing to the solution.

[2021-12-16 06:35] swtools0 commented on #70
@byalextran your headers work is awesome! I've implemented it into my AWS Lambda solution here: https://github.com/sw-tools/checkin-service

[2021-12-18 19:53] jdholtz commented on #70
@byalextran great job figuring out how to get the headers! One optimization you can do is using an [undetected-chromedriver](https://github.com/ultrafunkamsterdam/undetected-chromedriver). This takes away the need to manually install the chromedriver and hex edit it.

[2021-12-19 05:31] byalextran commented on #70
@jdholtz oh nice, thanks for that tip. i'll incorporate it on the next update!

[2021-12-20 19:21] bjhiltbrand commented on #70
@byalextran I made a PR for the move to undetected-chromedriver. I tested it and it seems to work great.

[2022-01-04 02:28] mrlfarano commented on #74
error still ocurring:

[code]

[2022-01-04 02:37] mkitchingh commented on #74
Have you updated to the most recent version? If not, take a look at the install notes. There's a lot more to it now. I had eight successful check-ins on the 26th and 28th.

[2022-01-04 03:33] wolverinepeltz commented on #74
What repository did you check in?

[2022-01-04 03:36] mkitchingh commented on #74
I'm sorry! I have tried multiple apps, and I thought this comment was about a different one. FYI, here is an app that has resolved the issues. It was a creative fix. Maybe something like this would work here too. https://github.com/byalextran/southwest-checkin

[2022-01-04 03:59] mrlfarano commented on #74
right, so it wouldn't be related to @pyro2927 's repo.
Issue still active.

[2022-01-04 04:09] mkitchingh commented on #74
Yes. I was commenting on the completely wrong project.

[2022-01-06 22:54] n-s-27 commented on #68
Try: `pip install docopt`

[2022-01-20 05:22] hildebrau commented on #70
@byalextran do you have or could you wrap a docker container around your sweet solutions?  I'm impressed by your header work!

[2022-01-20 05:33] byalextran commented on #70
I do want to explore a docker solution eventually. Just not a priority right now since I have a working solution and all my free time lately has been dedicated to a new pickleball addiction. 😅😜

But see if this could work for you.

https://github.com/byalextran/southwest-headers/issues/3

[2022-01-20 13:51] hildebrau commented on #70
Brilliant! Thanks for pointing that out!

[2022-01-26 15:22] djre4orm commented on #70
Set this up and pretty sure I had success this AM. Thank you for your work! I had to add the autoluv dir to my environment variables before the command would run, maybe it's just how I installed my ruby.

Side question: is there any way to setup a shell output for the result instead of email? I tried looking in the log dir you mentioned autoluv-0.3.1/logs/ but no such directory

[2022-04-13 09:37] prajwalbasnet4400 opened #75 "Fails to checkin"
Returns a 429 response with this body
`{
  "code": 429999999,
  "message": "Error.",
  "messageKey": "ERROR",
  "httpStatusCode": "BAD_REQUEST",
  "requestId": "",
  "infoList": []
}`
and response headers:
`{'Content-Type': 'text/plain; charset=UTF-8', 'Content-Length': '163', 'X-Ion-Hop': '1', 'Expires': 'Wed, 13 Apr 2022 09:35:39 GMT', 'Cache-Control': 'max-age=0, no-cache, no-store', 'Pragma':

[2022-04-16 10:23] sabujp commented on #75
Confirmed this doesn't work:

[code]

[2022-04-24 14:31] rodwhis commented on #75
Yes, I got the same results

[2022-04-27 13:25] Evilgeniusnerd commented on #75
I got this same error. I know when I checked in for my flight manually there was some pop-up to confirm you aren't sick with Coivd-19 etc... So I presume that pop-up is causing the code to crash since the current program doesn't know to go in and click the prompt? I am no programmer but that's my two cents.

[2022-04-27 14:25] mkitchingh commented on #75
I don't believe that pop-up is the cause of your error. That particular pop-up has been there for over a year.

[2022-04-27 15:36] h4xdaplanet commented on #75
If you are not scraping headers via what has been discussed - then that is
why it is not working.

On Wed, Apr 27, 2022, 07:25 mkitchingh ***@***.***> wrote:

[2022-04-27 19:55] akash329d commented on #75
@h4xdaplanet what headers are you referring to? Haven’t seen any discussion on that.

[2022-04-27 20:01] h4xdaplanet commented on #75
Take a look at #70 and this comment specifically

https://github.com/pyro2927/SouthwestCheckin/issues/70#issuecomment-991957843

[2022-10-04 03:46] jedibig opened #76 "open"
It seams like openflights does not allow api calls anymore, there is a timestamp in shareDetails entry when loading reservation that contains timestamp

[code]

[2022-10-04 04:09] h4xdaplanet commented on #76
Yes it seems like they put some sort of request wall up

I ended up switching to the Flightaware AeroAPI as a replacement

[2022-10-06 15:44] zach-portnoff commented on #76
Do you have a working version with this replacement?

[2022-11-12 21:36] BigSammich commented on #70
has anyone tried this python version recently and had success? I've been running it today and am getting a BAD_REQUEST.
`{
  "code": 429999999,
  "message": "Error.",
  "messageKey": "ERROR",
  "httpStatusCode": "BAD_REQUEST",
  "requestId": "",
  "infoList": []
}`

I'm generating headers using
https://github.com/byalextran/southwest-headers, but it appears that something changed again because whe

[2022-11-12 21:43] h4xdaplanet commented on #70
Did you modify the chromedriver?

On Sat, Nov 12, 2022, 14:37 Kyle Zimmermann ***@***.***>
wrote:

[2022-11-12 21:52] BigSammich commented on #70
Yes, I did the below chromedriver modification
<img width="876" alt="image" src="https://user-images.githubusercontent.com/5014469/201495908-7765edaf-4e7a-465a-88a2-b7536cc0fd15.png">

these are the request headers I'm currently getting
<img width="333" alt="image" src="https://user-images.githubusercontent.com/5014469/201495918-78d0fd95-beaf-4485-853e-fb063f706a33.png">

If no one else is having